<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>

<style>

    *{
        background-color: aquamarine;
    }

    .nav_bar{
        display: flex;
        justify-content: space-between;
    }

    ul{
        display: flex;
        /* justify-content: space-between;
         */
        list-style: none;

    }

    li{
        margin-left: 20px;
        margin-right: 20px;
    }

</style>


<body>

    {%   %}
    <div class ="nav_bar">
        <div>
            <h1>LOGO</h1>
        </div>
        <div>
            <ul>
                <li>Home</li>
                <li>Contact</li>
                <li>Menu</li>
                <li>About</li>
            </ul>
        </div>

    </div>

</body>
</html>